.body {
    cursor: default;
}

.label {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.statBox {
    background-color: white;
    width: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;

}

.statBox > h1 {
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;

}

.nameLabel {
    font-size: xx-large;
    font-weight: bold;
    color: gold;
    margin-left:auto;
    margin-right: auto;
}

.statForm {
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    column-rule: 10px;
    margin-top: 30px;
    background-color: rgb(91, 127, 52);
    border: 1px solid gold;
    border-radius: 30px;
    width: 40%;
    padding-bottom: 5px;
    padding: 15px;
    margin-left: 15px;
    
}

.newFeatList {
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    background-color: rgb(91, 127, 52);
    border: 1px solid gold;
    width: 60%;
    position: absolute;
    /* z-index: 15; */
    margin-top: 30px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.hidden {
    visibility: collapse;
}

.item1 {
    grid-column: 1;
}

.item2 {
    grid-column: 2;
}

.item3 {
    grid-column: 3;
}

.item4 {
    grid-column: 4;
}

.item5 {
    grid-column: 5;
}

.gridhead {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
}

.kingdomSheet {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 110vh;
    align-content: center;

}

.kingdomCard {
    border: 1px solid gold;
    width: 85%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

.Tabs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.activeTab {
    color: gold;
    position: relative;
}

.activeTab::after {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: ridge gold 5px;
    left: 0;
    bottom: -10px;
    border-radius: 50%;
    height: 10px;
}

.signInForm {
    display: flex;
    border: ridge 4px gold;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40vw;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    color: white;
}

.signInForm > p > a {
    color: white;
}

.textInput {
    margin-top: 5px;
    margin-bottom: 5px;
}

.formLabel {
    font-weight: 600;
    margin: auto;
}

.goodButton {
    background-color: green;
    border: ridge 3px yellow;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    color: white;
}

.badButton {
    background-color: red;
    border: ridge 3px yellow;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    color: white;
}

.createButton{
    background-color: green;
    border: ridge 3px yellow;
    margin-right: auto;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    color: white;
}

.aspectGrid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 10px;

}

.aspectCard{
    display: block;
    width: 85%;
    margin: auto;
    border: 1px solid gold;
    margin-top: 5px;
    background: rgb(71, 105, 3);
    padding: 5px;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.selected{
    border: 3px solid gold;
}


.detailHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.leaderNames{
    text-align: center;
    font-weight: bold;
    font-size: large;
}
